extend ../../layouts/default.pug
include ../../mixins/alert.pug
//- include ../../mixins/tableCategory.pug
include ../../mixins/select.pug

block main
    +alert-error(5000)

    h1(class="mb-4") thêm sản phẩm mới

    form(
        action=`${prefixAdmin}/list-product/create`,
        method="post"
        id="form-create-product"
        enctype="multipart/form-data",
        style="padding:10px"
        
        )
            div(class="form-group") 
                label(for="title") tiêu đề
                input(
                    type="text"
                    class="form-control"
                    id="title"
                    name="title"
                    
                )
            div(class="form-group")
                label(for="category") 
                select(
                    id="category"
                    name="category"
                    class="form-control"
                ) 
                    option(value="") -- chọn danh mục cha -- 
                        +select-tree(categories)
            
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured1"
                    name="featured"
                    value="1"
                     
                )
                label(for="featured1" class="form-check-label") nổi bật 
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="featured0"
                    name="featured"
                    value="0"
                    checked
                )
                label(for="statusInActive" class="form-check-label") không nổi bật 

            div(class="form-group")
                label(for="desc") mô tả
                textarea(
                    id="desc"
                    class="form-control tiny-mce"
                    name="description"
                     
                )
            div(class="form-group")
                label(for="price") giá
                input(
                    type="number"
                    class="form-control"
                    id="price"
                    name="price"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="discount") giá giảm
                input(
                    type="number"
                    class="form-control"
                    id="discount"
                    name="discountPercentage"
                    value="0"
                    min="0"
                )
            div(class="form-group")
                label(for="stock") số lượng
                input(
                    type="number"
                    class="form-control"
                    id="stock"
                    name="stock"
                    value="0"
                    min="0"
                )
            div(
                class="form-group"
                upload-img
                )
                label(for="thumbnail") ảnh
                input(
                    type="file"
                    class="form-control-file"
                    id="thumbnail"
                    name="thumbnail"
                    accept="image/*"
                    upload-img-input

                )
                img(
                    class="img-preview"
                    src=""
                    alt="",
                    style="width:120px;height:120px"
                    upload-img-preview
                     )
            div(class="form-group")
                label(for="position") vị trí
                input(
                    type="number"
                    class="form-control"
                    id="position"
                    name="position"
                    placeholder="tự động điền"
                    min="1"
                )
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked 
                )
                label(for="statusActive" class="form-check-label") hoạt động 
            div(class="form-group form-check form-check-inline")
                input(
                    type="radio"
                    class="form-check-input"
                    id="statusInActive"
                    name="status"
                    value="inactive"
                )
                label(for="statusInActive" class="form-check-label") dừng hoạt động 
            div(class="form-group")
                button(
                    class="btn btn-primary"
                    type="submit"
                ) tạo mới

    script(src="/admin/js/product.js") 
