//- extend ../../layouts/default.pug
include ../mixins/alert.pug

block main
    h1 Nhập mật khẩu mới
    +alert-error(5000)
    +alert-success(5000)

    .container.my-5
        .row.justify-content-center
            .col-8
                h1(class="text-center") Lấy lại mật khẩu
                form(
                    action=`/auth/password/reset`
                    method="post"
                )
                    div(class="form-group")
                        label(for="password") Mật khẩu mới
                        input(
                            type="password"
                            class="form-control"
                            id="password"
                            name="password"
                        )
                    div(class="form-group")
                        label(for="confirmPassword") Nhập lại mật khẩu mới
                        input(
                            type="password"
                            class="form-control"
                            id="confirmPassword"
                            name="confirmPassword"
                        )
                    div(class="form-group")
                        button(
                            class="btn btn-primary"
                            type="submit"
                        ) xác nhận