h1 this is header
a(
    href=`${prefixAdmin}/auth/logout`
    style="float:right; color: red"
) dang xuat
a(
    href=`${prefixAdmin}/my-account`
    style="float:right; color: green"
) #{user.fullname}